@tailwind base;
@tailwind components;
@tailwind utilities;

.hover {
  color: #0000;
  background: 
    linear-gradient(90deg,#5544DC 50%, #F1F1F1 0) 
    var(--_p,100%)/200% no-repeat;
  -webkit-background-clip: text;
          background-clip: text;
  transition: .4s;
}
.hover:hover {
  --_p: 0%;
}
.hoverlink {
  color: #0000;
  background: 
    linear-gradient(90deg,#F1F1F1 50%, #5544DC 0) 
    var(--_p,100%)/200% no-repeat;
  -webkit-background-clip: text;
          background-clip: text;
  transition: .4s;
}
.hoverlink:hover {
  --_p: 0%;
}

.disable-scroll {
  overflow: hidden;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

.floating-svg {
  animation: 'floating' 5s ease-in-out infinite;
}
@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(420deg);
  }
}


/* Define the flicker animation */
@keyframes flicker {
  0% {
    fill-opacity: 0.05;
    stop-opacity: 0.4;
  }
  50% {
    fill-opacity: 0.25;
    stop-opacity: initial;
  }
  100% {
    fill-opacity: 0.05;
    stop-opacity: 0.4;
    
  }
}

/* Apply the animation to the SVG element */


.light{
  animation: flicker 5s infinite;
  stroke-opacity: 0;
}

@keyframes flicker {
  0%, 10.5%, 11.5%, 100% {
    stroke-opacity: 1;
    filter: brightness(1.2);
  }
  10%, 11% {
    stroke-opacity: 0.8;
    filter: brightness(1);
  }
  10.2%, 11.2% {
    stroke-opacity: 0.6;
    filter: brightness(0.8);
  }
  10.3%, 11.3% {
    stroke-opacity: 0.4;
    filter: brightness(0.6);
  }
  10.4%, 11.4% {
    stroke-opacity: 0.2;
    filter: brightness(0.4);
  }
}
#neonBorder {
  animation: flicker 1s infinite;
}