@tailwind base;
@tailwind components;
@tailwind utilities;

.hover {
  color: #0000;
  background: 
    linear-gradient(90deg,#5544DC 50%, #F1F1F1 0) 
    var(--_p,100%)/200% no-repeat;
  -webkit-background-clip: text;
          background-clip: text;
  transition: .4s;
}
.hover:hover {
  --_p: 0%;
}
.hoverlink {
  color: #0000;
  background: 
    linear-gradient(90deg,#F1F1F1 50%, #5544DC 0) 
    var(--_p,100%)/200% no-repeat;
  -webkit-background-clip: text;
          background-clip: text;
  transition: .4s;
}
.hoverlink:hover {
  --_p: 0%;
}

.disable-scroll {
  overflow: hidden;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

.floating-svg {
  animation: 'floating' 5s ease-in-out infinite;
}
